html, body {
    background-color: blue;
    height: 100%;
  }


#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#austin-card, #dino-card {
  background-color: lightsteelblue;
  border: solid rgb(58, 117, 184) 10px;
  width: 45%;
  text-align: center;
  padding: 20px;
}


.dino {
  width: 65%;
  height: 50%;
}

.me {
  transform: rotate(90deg);
  max-width: 55%;
  max-height: 60%;
  padding: 45px;
}

.footer {
  flex-shrink: 0;
  color: white;
}